<% include partials/header %>
  <div class="py-5 text-center">
    <h1 class="display-4">404</h1>
    <p class="lead">Page Not Found</p>
    <p>The requested URL <code><%= url %></code> was not found on this server.</p>
    <a class="btn btn-primary" href="/">Go to homepage</a>
  </div>
<% include partials/footer %>
